<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle Navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<%= link_to 'FooBar Products', root_url,
			class: "navbar-brand" %>
	</div>
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<a data-toggle="modal" href="#add-product" class="btn btn-success navbar-btn"><span class="glyphicon glyphicon-plus"></span> Add Product</a>
	</div>
</nav>